body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1, h2, p {
    color: #333;
}


header {
    background-color: #f4f4f4;
    padding: 15px;
    text-align: center;
}

header img {
    width: 200px;
    border-radius: 150px;
}

.main-content {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 18px;
    text-align: left;
}

.main-content h2, .work h2 {
    font-size: 20px;
}

.main-content p {
    font-size: 15px;
}

.work {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 18px;
}

.project {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 300px;
} 

footer {
    background-color: #333;
    padding: 10px 0;

}

footer p{
    font-family: "Rubik", sans-serif;
    color: white;
    text-align: center;
}
footer a {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color: cadetblue;
}

footer a:hover {
    color: aquamarine;
}